---
import SiteLayout from "../../layouts/SiteLayout.astro";
import recruiterSingle from "../../data/recruiter.json";
import "~/styles/detail.css";

export async function getStaticPaths() {
  let returnArray: any = [];

  recruiterSingle.forEach((element) => {
    returnArray.push({ params: { name: element.name } });
  });

  return returnArray;
}

const { name } = Astro.params;
let recruiter = recruiterSingle.find((json) => json.name == name);
console.log(recruiter);
---

<SiteLayout title="Home Page" description="This is the homepage">
  <div id="recruiterDetailContainer">
    <img src="/images/emptyAvatar.jpg" class="avatarImage" />
    <div style="display: flex; flex-direction: column; width:100%">
      <a class="listTitle" href={"/recruiter/" + recruiter.name}>
        {recruiter.name}
      </a>
      {recruiter.title}
      <a class="listTitle" href={"/firmen/" + recruiter.company}>
        {recruiter.company}
      </a>
      <a>{recruiter.city}</a>
      <a>Letztes Update: {recruiter.lastUpdated}</a>
    </div>
  </div>
</SiteLayout>
